*{
    box-sizing: border-box;
}
html{
    background: rgb(197, 190, 190);
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background: white;
}

//Often used
.wrapper {
    padding: 0 72px;
}

.title-section {
    font-family: "Montserrat-700";
    font-size: 36px;
}

.description-section {
    width: 50%;
    font-family: "Montserrat-400";
    font-size: 16px;
    line-height: 153.4%;
}

.hover-animation {
    a {
            position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 0;
            display: block;
            left: 50%;
            transform: translate(-50%);
            background: #060606;
            transition: width .5s;
        }
        &:hover {
            &::after{
                width: 100%;
            }
        }
    }
    
}

// Header
.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 17px;
}

.logo {
    font-family: "Montserrat-700";
    font-size: 18px;
    align-self: center;
    a {
        text-decoration: none;
        color: black;
    }
}

.nav {
    display: flex;

		&__btn {
            width: 116px;
            height: 36px;
            margin-left: 35px;
            font-family: "Montserrat-600";
            border: 3px solid #000000;
            border-radius: 3px;
            background-color: transparent;
		}
}

.menu {
    display: flex;

		&__item {
            margin-left: 24px;
            align-self: center;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            font-size: 14px;
        
            a {
                color: #000000;
                text-decoration: none; 
            } 

		}
}

//burger-icon
.burger-icon {
    cursor: pointer;
    margin-right: 16px;
    position: relative;
    z-index: 1;
}

.burger-open {
    display: none;
}

.burger-close {
    margin-top: 16.59px;;
    float: right;
}

.burger-close__line, .burger-open__line {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.burger-close__line:first-child {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.burger-close__line:last-child {
    transform: rotate(45deg);
}

//burger-popup
.burger-popup {
    display: none;
    width: 100%;
    min-height: 100vh;
    padding-left: 24px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    overflow: hidden;

        &__title {
            margin-top: 40px;
            margin-bottom: 48px;
            font-family: "Montserrat-700";
            font-size: 36px;
        }

        &__item {
            margin-bottom: 48px;
            font-family: "Montserrat-700";
            font-size: 24px;
            
            a {
                color: #000000;
                text-decoration: none; 
            }
        }

        &__btn {
            width: 162px;
            height: 46px;
            color: #FF699F;
            background-color: transparent;
            border: 2px solid #FF699F;
            border-radius: 3px;
        }

        &__backTitle {
            position: absolute;
            top: 30vh;
            right: -45vh;
            transform: rotate(90deg);
            font-family: "Montserrat-900";
            font-size: 33vh;
            color: #FEF2F6;

        }
}

// Show case
.show-case {
    display: flex;

    justify-content: space-between;
        &__text {
            width: 35.5%;
            padding-top: 73px;
            padding-right: 73px;
        }

        &__title {
            font-family: "Montserrat-700";
            font-size: 72px;
            line-height: 68px;
        }

        &__state {
            margin-top: 16px;
            font-family: "Montserrat-500";
            font-size: 24px;
            line-height: 29.26px;
        }

        &__explanation {
            margin-top: 40px;
            font-family: "Montserrat-400";
            font-size: 16px;
            line-height:24.54px;
        }

        &__btn {
            margin-top: 40px;
            margin-bottom: 80px;
            width: 161px;
            height: 46px;
            color: #FF699F;
            background-color: transparent;
            border: 2px solid #FF699F;
            border-radius: 3px;
        }

        &__img {
            width: 64.5%;

            img{
                width: 100%;
                height: 653px;
                object-fit: cover;
            }
        }
}

// Services
.services {
    
    &__title {
        margin-top: 100px;
    }

    &__description {
        margin-top: 24px;
    }

    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        button {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 50%; 
            border: 2px solid gray;
            font-size: 0;
            background-color: transparent;
        }

        .slick-active{
            button {
                width: 15px;
                height: 15px;
                border-radius: 50%; 
                border: none;
                font-size: 0;
                background-color: #FF699F;
            }
        }   
    }
}

.service-block {
    width: 95%;
    height: 100% !important;
    padding-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;

    &__img {
        width: 100%;
    }

    &__title {
        margin-top: 40px;
        margin-left: 24px;
        font-family: "Montserrat-700";
        font-size: 24px;
    }

    &__description {
        margin-top: 24px;
        margin-left: 24px;
        font-family: "Montserrat-400";
        font-size: 16px;
        line-height: 153.4%;
    }
    
}

//Offer
.offer {
    margin-top: 100px;

    &__description {
        margin-top: 24px;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}

.offer-section {
    width: 25%;
    padding: 0 3%;
    margin-bottom: 70px;

    &__icon {
        text-align: center;
        font-size: 80px;
        color: #FF699F;

    }

    &__title {
        text-align: center;
        font-family: "Montserrat-400";
        font-size: 16px;
        line-height: 153.4%;
    }
}

.couches {

    &__title {
        margin-bottom: 25px;
    }

    &__description {
        margin-bottom: 30px;
    }

    .slick-arrow, .slick-dots {
        visibility: hidden;
        width: 0; 
        height: 0;
    }
}

.couch-card {
    display: flex ;  
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;
    width: 95%;
    
    &__img {

        img {
            width: 100%;
        }
    }
    &__inform {
        margin-left: 33px;

        th {
            text-align: left;
            padding-top: 24px;
            font-family: "Montserrat-400";
            font-size: 16px;
            opacity: 0.5;
        }

        td {
            text-align: left;
            padding-top: 24px;
            font-family: "Montserrat-400";
            font-size: 16px;            
        }
    }

    &__num {
        margin-top: 43px;
        font-family: "Montserrat-700";
        font-size: 16px;
    }

    &__name {
        margin-top: 8px;
        font-family: "Montserrat-700";
        font-size: 24px;
    }

    &__perfom {
        margin-top: 8px;
        font-family: "Montserrat-400";
        font-size: 16px;
    }
    &__btn {
        margin-top: 88px;
        margin-bottom: 80px;
        width: 161px;
        height: 46px;
        color: #FF699F;
        background-color: transparent;
        border: 2px solid #FF699F;
        border-radius: 3px;

        &--arrow {
            display: none;
        }
    }
}

.arrows {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    &__inform {
        font-family: "Montserrat-400";
        font-size: 16px;
        align-self: center;
    }

    .arrow {
        font-size: 30px;
        :hover {
            cursor: pointer;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 27px 72px;
    margin-top: 100px;

    .logo {

        a {
            color: white;
        }
    }

}

.copyrigh {
    font-family: "Montserrat-400";
    font-size: 16px;
}

// -------------------------------------------------------
@media only screen and (max-width: 1110px) {
    .show-case {
        &__text{
            padding-top: 0;
            padding-right: 20px;
        }

        &__title {
            font-size: 51.1px;
            line-height: 47.6px;
        }

        &__state {
            font-size: 16.8px;
            line-height: 20.5px;
        }

        &__btn {
            margin-left: 16px;
            width: 112.7px;
            height: 32.2px;
            margin-bottom: 0;
            
        }

        &__img {

            img{
                height: 100%;
            }
        }
    }

    .description-section {
        width: 100%;
        padding-right: 50px;
    }
  }

  // -------------------------------------------------------
  @media only screen and (max-width: 940px) {
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper-sm16 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .navigation {
        padding-left: 0;
        padding-right: 0;
    }  

    .show-case {
        flex-direction: column-reverse;

        &__text {
            width: 100%;
            padding-top: 50px;
            padding-right: 72px;
        }

        &__img {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
    
        }
    }

    .couch-card {
            display: block;

            &__inform {
                width: 100%;
                padding-right: 33px;

                th {
                    display: block;
                }

                td {
                    display: block;
                    padding-top: 0;
                }  
            }

        }
  }

  // -------------------------------------------------------
@media only screen and (max-width: 640px) {
    .nav {
        display: none;
    }

    .burger-open {
        display: inline-block;
    }
    
    .services {

        &__title {
            margin-top: 56px;
        }

        &__items {
            flex-direction: column;
        }
    }

    .offer {
        margin-top: 56px;
    }

    .offer-section {
        width: 50%;
        margin-bottom: 33px;
    }

    .offer-section {
        width: 50%;
    }

    .arrows {
        display: none;
    }

    .couches {

        .slick-dots {
            visibility: visible;
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;

            button {
                width: 15px;
                height: 15px;
                margin-right: 10px;
                border-radius: 50%; 
                border: 2px solid gray;
                font-size: 0;
                background-color: transparent;
            }
            .slick-active{

                button {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%; 
                    border: none;
                    font-size: 0;
                    background-color: #FF699F;
                }
            }  
        }
    }

    .couch-card {
        position: relative;

        &__btn {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            position: relative;
            display: block;
            margin: 0 16px 16px auto;

            &--text {
                display: none;
            }
            &--arrow {
                display: block;
                position: absolute;
                top: 56%;
                left: 56%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

